<h1>Edit Project</h1>

<h4>Press 'save' once you've made your changes</h4>

  <form {{action "submit" on="submit"}}>
  <label for="name">Project Title:</label>
  {{input placeholder="Give it a working title"
          type="text"
          id="name"
          required=true
          value=project.name}}

  <label for="genre">Type:</label>
  {{input placeholder="What medium? eg. dance, silks, music"
          type="text"
          id="genre"
          value=project.genre}}

  <label for="description">Description:</label><br>
  {{textarea placeholder="If made public, this is the description others will see"
          id="description"
          cols="96"
          rows="5"
          value=project.description}} <br>

<label for="completed">Completed?</label>
{{input type="checkbox"
          name="completed"
          change=(action "toggleStatus")
          checked=project.completed}} <br>

<label for="public">Public Project</label>
{{input type="checkbox"
          name="public"
          change=(action "togglePublic")
          checked=project.public}} <br>

<div class="row">
<span class="col-md-3 col-md-offset-3" {{action "cancel"}}> {{fa-icon "fa-mail-reply fa-2x"}} <br>
    Cancel</span>

  <span class="col-md-3" {{action "submit"}}> {{fa-icon "fa-share fa-2x"}} <br>Save</span>
</div>
</form>
