<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid outlet col-lg-12 col-centered">
  <div class="centered">
  {{outlet}}
  </div>
</div>

<div class="home">
  <footer class="nav navbar-fixed-bottom">
  <ul>
    {{#if isAuthenticated}}
      <li class="home col-sm-2">{{#link-to 'projects/new'}} {{fa-icon "fa-plus-circle fa-4x"}} <br> New Project{{/link-to}}</li>
      <li class="home col-sm-2">{{#link-to 'projects'}} {{fa-icon "fa-globe fa-4x"}} <br> All Projects{{/link-to}}</li>
      <li class="home col-sm-2"><a href="profiles" {{action "seeProfile"}}> {{fa-icon "fa-user fa-4x"}} <br> Profile </a></li>
      <li class="home col-sm-2">{{#link-to 'projects/ongoing'}} {{fa-icon "fa-spinner fa-4x"}} <br> In Progress Projects{{/link-to}}</li>
      <li class="home col-sm-2">{{#link-to 'projects/done'}} {{fa-icon "fa-check-circle-o fa-4x"}} <br> Completed Projects{{/link-to}}</li>
      {{else}}
      <h1 class="top">Encore</h1>
    {{/if}}
      <!-- <label for="search">Search</label>
      {{input type="text" value=profile.username placeholder="Artist's name"}} -->
  </ul>
</footer>
</div>
