<h1>New Project</h1>

<h4>Press 'save' once you've made your changes</h4>

  <form {{action "submit" on="submit"}}>
  <label for="name">Project Title:</label>
  {{input placeholder="Give it a working title"
          type="text"
          id="name"
          value=project.name}}

  <label for="genre">Type:</label>
  {{input placeholder="What medium? eg. dance, silks, music"
          type="text"
          id="genre"
          value=project.genre}}

  <label for="description">Description:</label><br>
  {{input placeholder="If made public, this is the description others will see"
          id="description"
          type="text"
          value=project.description}} <br>

<div class="row">
<span class="col-md-3 col-md-offset-3" {{action "cancel"}}> {{fa-icon "fa-mail-reply fa-2x"}} <br>
Cancel</span>

<span class="col-md-3" {{action "submit"}}> {{fa-icon "fa-share fa-2x"}} <br>Save</span>
</div>
</form> <br>
