<label for="name">Project Title:</label> {{model.name}} <br>
<label for="genre">Type:</label> {{model.genre}} <br>
<label for="description">Description:</label> {{model.description}} <br>
<label for="started_on">Started On:</label> {{model.started_on}} <br>
<label for="target_finish">Target Finish:</label> {{model.target_finish}} <br>
<label for="completed">Status:</label> {{model.completed}} <br>

<button {{action "edit" model}} class="btn btn-primary">
  Edit</button>

<button {{action "back"}} class="btn btn-primary">
  Back</button>
