<span{{action "edit" model}}> <h1>Project   <a>{{fa-icon "fa-pencil-square-o"}}</a></h1></span>

<br>
<div class="returned">
<label for="name">Project Title:</label> {{model.name}} <br>
<label for="genre">Type:</label> {{model.genre}} <br>
<label for="description">Description:</label> {{model.description}} <br>
<label for="started_on">Started On:</label> {{model.startedOn}} <br>
<label for="completed"> Status: </label>
  {{#if model.completed}}
    Completed
    {{else}}
    In progress
  {{/if}} <br>
<label for="public">Privacy: </label>
  {{#if model.public}}
  Public (appears on profile)
  {{else}}
  Private (only I can see it)
  {{/if}} <br>
<!--  -->

<label for="notebook">{{#link-to 'notebook' model}}Notebook{{/link-to}}</label><br>
</div>

<div class="row">

<span class="col-md-3 col-md-offset-3" {{action "back"}}><a> {{fa-icon "fa-mail-reply fa-2x"}} <br>
  Cancel</a></span>

<span class="col-md-3" {{action "delete" model}}><a>{{fa-icon "trash-o fa-2x"}} <br>
  Delete</a></span>
</div>
