<label for="name">Project Title:</label> {{model.name}} <br>
<label for="genre">Type:</label> {{model.genre}} <br>
<label for="description">Description:</label> {{model.description}} <br>
<label for="started_on">Started On:</label> {{model.startedOn}} <br>
<label for="targetFinish">Target Finish:</label> {{model.targetFinish}} <br>
<label for="completed"> Status: </label>
  {{#if model.completed}}
    Completed
    {{else}}
    In progress
  {{/if}} <br>
<label for="public">Privacy: </label>
  {{#if model.public}}
  Public (appears on profile)
  {{else}}
  Private (only I can see it)
  {{/if}} <br>

<button {{action "edit" model}} class="btn btn-primary">
  Edit</button>

<button {{action "back"}} class="btn btn-primary">
  Back</button>

<button {{action "delete" model}} class="btn btn-primary">
  Delete</button>
