<div class="profile-edit">
  <span{{action "edit" model}}> <h1>{{model.username}}'s Profile <a>{{fa-icon "fa-pencil-square-o"}}</a></h1></span>
<label for="location">Location:</label>
{{model.location}} <br>
<label for="biography">Biography:</label>
{{model.biography}} <br>

<h3>Public Projects</h3>
{{#each model.projects as |project|}}
  {{#if project.public}}
    {{projects-all/public project=project}}
  {{/if}}
{{/each}}

{{outlet}}
<hr>

<span class="col-md-4 col-md-offset-4">{{#link-to "change-password"}}{{fa-icon "fa-unlock-alt fa-2x"}} <br>Change Password{{/link-to}}</span>
</div>
