<div>
<h1>{{model.username}}</h1>
<label for="location">Location:</label>
{{model.location}}
<label for="biography">Biography:</label>
{{model.biography}}
<label for="aliases">Aliases:</label>
{{model.aliases}}
{{#each model.projects as |project|}}
  {{project.name}}
{{/each}}
<button type="submit" {{action "edit"}} class="btn btn-primary">
  Edit</button>

<h2>Public Projects</h2>
</div>
