<h4>Enter some information about yourself</h4>

  <form {{action "submit" on="submit"}}>
  <label for="username">Artist Name</label>
  {{input placeholder="Put the name you prefer to go by"
          type="text"
          id="username"
          value=profile.username}}

  <label for="location">Location</label>
  {{input placeholder="eg. New York, NY"
          type="text"
          id="location"
          value=profile.location}}

  <label for="biography">Biography</label>
  {{input placeholder="Tell us about yourself"
          type="text"
          id="biography"
          value=profile.biography}}

<div>
<span class="col-md-4" {{action "cancel"}}> {{fa-icon "fa-mail-reply fa-2x"}} <br>
            Cancel</span> <br>

<span class="col-md-4" {{action "submit"}}> {{fa-icon "fa-share fa-2x"}} <br>Save</span>
</div>
</form>
