
<form {{action "newItem" on="submit"}}>
  {{input placeholder="New task"
          class="input-group form-control"
          value=form.content}}
</form>

{{id}}
{{notebook.name}}

<ul>
  {{#each notebook.items as |item|}}
  {{notebook-main/task-store item=item}}

  {{/each}}
</ul>
